@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

:root {
    --header-height: 40px;
    --nav-width: 256px;
    --first-color: #fff;
    --active-side-color: #1d40fb;
    --active-side-color-3: #1d3efbec;
    --first-color-alt: #0d0906;
    --white-color: #fff;
    --active-side-color-2: #003087;
    --button-color: #2070ba;
    --text-color: #006dd3;
    --non-active-color: #bcbbc1;
    --fade-color: #bcbcbc;
    --more-fade-color: #e6e6e6;
    --on-active-color: #0d0906;
    --not-black: rgb(36, 36, 36);
    --section-head-color: #5b626b;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
    --manrope: 'Manrope', sans-serif;
}

.profile {
    margin-bottom: 2.2rem;
    min-height: calc(100vh - 56px - 18px - 16px - 16px - 16px);
    align-items: center;
    justify-content: center;
    display: flex;
}

.profile-details {
    border-radius: .5rem;
    padding: 3rem 4rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.profile-img-2 {
    width: 281px;
    border-radius: .5rem;
    margin-right: 5rem;
}

.profile-first-section {
    display: flex;
}

.profile-name {
    min-width: 919px;
}

.profile-first-section h2,
.profile-first-section h3 {
    color: rgb(91, 107, 119);
    font-family: var(--poppins);
    font-weight: 600;
}

.profile-name h4 {
    font-size: 16px;
    color: var(--fade-color);
}

.profile-name h4 span {
    font-size: 14px;
    font-family: var(--poppins);
    font-weight: 500;
    color: var(--fade-color);
    margin-left: .5rem;
}

.profile-first-section h5 {
    color: rgb(90, 178, 247);
    font-family: var(--roboto);
    font-size: 17px;
    padding-left: .1rem;
}

.profile-first-section p {
    margin-top: 4.4rem;
    font-size: 11px;
    font-family: var(--poppins);
    font-weight: 500;
    color: var(--fade-color);
}

.profile-first-section h3 {
    margin-top: -.8rem;
}

.profile-first-section h3 span i {
    color: rgb(90, 178, 247);
}

.profile-first-section a {
    color: #3c4f5e !important;
    margin-top: 1rem;
    padding: 1rem 0;
    font-weight: 500;
    margin-left: .1rem;
    margin-right: 2rem;
    font-family: var(--poppins);
    font-size: 20px;
    transition: 1s all ease;
}

.profile-first-section a i {
    margin-right: .6rem;
}

.profile-first-section a:hover {
    color: rgb(90, 178, 247) !important;
}

.profile-first-section button {
    background-color: white;
    margin-top: 1rem;
    padding: 1rem 6rem;
    border-radius: .5rem;
    border: 1px solid rgb(90, 178, 247);
    color: rgb(17, 152, 255);
    font-family: var(--poppins);
    font-weight: 500;
    transition: 1s all ease;
}

.profile-first-section button:hover {
    background-color: rgb(90, 178, 247);
    color: white;
}

.profile-hr {
    margin: 2rem 0rem 1.5rem 0rem;
}


.profile-second-section {
    display: flex;
}

.profile-second-first-section {
    width: 300px;
    margin-right: calc(5rem - 19px);
}

.profile-second-first-section h5 {
    color: rgb(91, 107, 119);
    font-family: var(--roboto);
    font-size: 18px;
}

.profile-second-first-section P {
    margin: 0;
    font-family: var(--poppins);
    font-weight: 500;
    color: var(--fade-color);
    font-size: 15px;
}

.profile-hr-2 {
    margin-top: 1.4rem;
}

.profile-second-first-section button {
    margin-left: 1rem;
    padding: .2rem .4rem .2rem .4rem;
    margin-top: -.6rem;
    border: none;
    background-color: #e3f2fd;
    color: #4facf4;
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    border-radius: .5rem;
    cursor: text;
}

.virtual-contact-information p,
.basic-information p {
    color: var(--fade-color);
    font-family: var(--roboto);
    font-size: 18px;
    margin: 0;
}

.virtual-contact-information h5,
.virtual-contact-information a,
.basic-information h5 {
    font-family: var(--poppins);
    font-weight: 600;
    color: rgb(17, 152, 255);
    font-size: 16px;
    margin-top: .88rem;
}

.profile-text-width {
    width: 120px;
    color: rgb(91, 107, 119) !important;
}

.virtual-contact-information a {
    color: rgb(17, 152, 255) !important;
    margin-top: 5px;
}

.basic-information h5 {
    color: rgb(91, 107, 119) !important;
}

.profile-hr-3 {
    display: none;
}

@media screen and (max-width: 1712px) {
    .profile-name {
        min-width: 796.93px;
    }
}

@media screen and (max-width: 1590px) {
    .profile-name {
        min-width: 683.75px !important;
    }
}

@media screen and (max-width: 1540px) {
    .profile-details {
        width: 1166px;
    }

    .profile-name {
        min-width: 680px !important;
    }
}

@media screen and (max-width: 1465px) {
    .profile-details {
        width: auto;
    }
}

@media screen and (max-width: 1470px) {
    .profile-name {
        min-width: 581px !important;
    }

    .profile-details {
        width: 1069.99px;
    }
}

@media screen and (max-width: 1370px) {
    .profile-name {
        min-width: 480px !important;
    }

    .profile-details {
        width: 962px;
    }

    .profile-img-2 {
        width: 281px;
        height: 281px;
    }

    .profile-first-section a {
        margin-right: 1rem;
    }

    .profile-first-section button {
        padding: 1rem 3rem;
    }
}

@media screen and (max-width: 1315px) {

    .profile-name {
        min-width: 834px !important;
    }

    .profile-first-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-img-2 {
        width: 281px;
        border-radius: 50%;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .profile-first-section p {
        margin-top: 2.4rem;
    }

    .profile-first-section a {
        margin-right: 2rem;
    }

    .profile-first-section button {
        padding: 1rem 6rem;
    }
}

@media screen and (max-width: 1281px) {
    .profile-details {
        width: 962px;
    }

    .profile-name {
        min-width: 835px !important;
    }
}

/* @media screen and (max-width: 1249px) {
    .profile-details {
        width: auto;
    }

    .profile-name {
        min-width: 724.217px !important;
    }
} */

@media screen and (max-width: 1262px) {
    .profile-details {
        padding: 2rem 3rem;
        width: auto;
        /* added after commenting the line 314 to 322. This lines breakthrough was 1142px */
    }

    .profile-name {
        min-width: 404px !important;
        flex-direction: column;
    }

    .profile-first-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-img-2 {
        width: 281px;
        border-radius: 50%;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .profile-first-section p {
        margin-top: 2.4rem;
    }

    .profile-buttons {
        flex-direction: column;
    }

    .profile-first-section a {
        margin-top: .3rem;
    }

    .profile-second-section {
        flex-direction: column;
    }

    .profile-hr-3 {
        display: block;
        margin-top: 1.4rem;
    }

    .profile-second-first-section {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        margin-top: 4.5rem;
        margin-bottom: 1rem;
    }

    .profile-name {
        min-width: 524.217px !important;
        flex-direction: column;
    }

    .profile-first-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-img-2 {
        width: 281px;
        border-radius: 50%;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .profile-first-section p {
        margin-top: 2.4rem;
    }

    .profile-second-section {
        flex-direction: column;
    }

    .profile-hr-3 {
        display: block;
        margin-top: 1.4rem;
    }

    .profile-second-first-section {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 655px) {
    .profile {
        margin-top: 4.5rem;
    }

    .profile-details {
        padding: 2rem 3rem;
    }

    .profile-name {
        min-width: 363.217px !important;
        flex-direction: column;
    }

    .profile-first-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-img-2 {
        width: 281px;
        border-radius: 50%;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .profile-first-section p {
        margin-top: 2.4rem;
    }

    .profile-buttons {
        flex-direction: column;
    }

    .profile-first-section a {
        margin-top: .3rem;
    }

    .profile-second-section {
        flex-direction: column;
    }

    .profile-hr-3 {
        display: block;
        margin-top: 1.4rem;
    }

    .profile-second-first-section {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        margin-top: 4.5rem;
    }

    .profile-details {
        padding: 2rem 3rem;
    }

    .profile-name {
        min-width: 363.217px !important;
        flex-direction: column;
    }

    .profile-first-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-img-2 {
        width: 281px;
        border-radius: 50%;
        margin-right: 0rem;
        margin-bottom: 1.2rem;
    }

    .profile-first-section a {
        margin-top: 0rem !important;
    }

    .profile-first-section button {
        margin-top: 0rem;
    }

    .profile-first-section p {
        margin-top: 1rem;
        text-align: end;
    }

    .profile-first-section h3 {
        text-align: end;
    }

    .profile-buttons {
        flex-direction: column;
    }

    .profile-first-section a {
        margin-top: .3rem;
    }

    .profile-second-section {
        flex-direction: column;
    }

    .profile-hr-3 {
        display: block;
        margin-top: 1.4rem;
    }

    .profile-second-first-section {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 492px) {
    .profile-details {
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 427px) {
    .profile-name {
        min-width: 348px !important;
    }

    .profile-text-width {
        width: 90px;
    }
}

@media screen and (max-width: 411px) {
    .profile-details {
        min-width: 358px;
    }

    .profile-img-2 {
        width: 281px;
    }

    .profile-name {
        min-width: 296px !important;
    }

    .profile-first-section button {
        padding: 1rem 5rem;
    }

    .profile-text-width {
        width: auto;
        margin-right: 5px;
    }
}

@media screen and (max-width: 385px) {
    .profile-details {
        min-width: 350px;
    }

    .profile-img-2 {
        width: 281px;
    }

    .profile-name {
        min-width: 296px !important;
    }

    .profile-first-section button {
        padding: 1rem 5rem;
    }

    .profile-text-width {
        width: auto;
        margin-right: 5px;
    }
}

@media screen and (max-width: 390px) {
    .profile-details {
        min-width: 340px;
    }
}

@media screen and (max-width: 361px) {
    .profile-details {
        max-width: 325px;
        min-width: 325px;
    }
}

@media screen and (max-width: 281px) {
    .profile-details {
        min-width: 245px;
        max-width: 245px;
    }

    .profile-img-2 {
        width: 200px;
    }

    .profile-name {
        min-width: 230px !important;
    }

    .profile-first-section button {
        padding: 1rem 5rem;
    }

    .profile-text-width {
        width: auto;
        margin-right: 5px;
    }

    .profile-email {
        flex-direction: column;
    }
}