:root {
    --header-height: 3rem;
    --nav-width: 200px;

    --first-color: #f10086;
    --first-color-alt: #f582a7;
    --white-color: #ffddee;
}

.custom-container {
    padding-left: var(--nav-width);
    text-align: justify;
    margin-top: -15px;
}

.custom-padding {
    padding: 0 1rem;
}

@media screen and (max-width: 767px) {
    .custom-container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media screen and (max-width: 767px) {
    .custom-container {
        margin-top: 0px;
    }
}