@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

:root {
  --header-height: 40px;
  --nav-width: 256px;

  --first-color: #fff;
  --active-side-color: #1d40fb;
  --active-side-color-3: #1d3efbec;
  --first-color-alt: #0d0906;
  --white-color: #fff;
  --active-side-color-2: #003087;
  --non-active-color: #bcbbc1;
  --on-active-color: #0d0906;

  --poppins: 'Poppins', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --inter: 'Inter', sans-serif;
  --manrope: 'Manrope', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li {
  font-family: var(--poppins) !important;
}

h1 {
  font-family: var(--manrope);
}

h2 {
  font-family: var(--inter);
}

h5 {
  font-family: var(--poppins);
}

p {
  font-family: var(--poppins);
}

/* custom firefox scrollbar start */
html {
  scrollbar-width: 1vw;
  scrollbar-color: rgb(32, 112, 186) rgb(255, 255, 255);
}

/* custom firefox scrollbar end */

/* custom scrollbar for other browser start */
html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(32, 112, 186);
}


html::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

/* custom scrollbar for other browser end */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  position: relative;
  margin: 56px 0 0 0;
  padding: 0 1rem;
  font-size: 1rem;
  /* font-family: 'Nunito Sans', sans-serif; */
  transition: 0.5s;
}

.header {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 0 0 0 1rem;
  transition: 0.5s;
}

.header-toggle {
  font-size: 1.25rem;
  cursor: pointer;
  color: black;
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -75%;
  z-index: 1;
  /* 240 95 */
  height: 100vh;
  width: var(--nav-width);
  padding-top: 0rem !important;
  transition: 0.5s;
}

#light .sidebar {
  background-color: var(--first-color);
}

#dark .sidebar {
  background-color: #333333;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: 1vw;
  /* Firefox */
}

.nav2 {
  height: calc(100vh - 121.133px);
}

.nav::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.title {
  font-size: 45px;
  margin: 1rem 0rem;
  padding: .2rem;
  font-weight: 700;
}

.title span {
  color: rgb(202, 0, 40);
  border-radius: 50%;
  font-family: var(--roboto);
}

.logo-original {
  width: 50px;
  border-radius: 50%;
  margin: .9rem 0rem;
  padding: .2rem;
}

.site-name {
  margin: .8rem 0rem;
  padding: .2rem;
  padding-left: 1rem;
  font-weight: 700;
  font-size: 13px;
  color: rgb(61, 61, 61);
}

.site-name span {
  color: rgb(175, 175, 175);
  font-weight: 500;
}

.nav-logo,
.nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin: 1rem 0;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: black;
  cursor: pointer;
}

.nav-logo-name {
  font-weight: 700;
  color: black;
}

.nav-link {
  position: relative;
  color: var(--non-active-color);
  /* transition: 1s all ease; */
  margin-bottom: .5rem;
}

.nav-link:hover {
  color: var(--on-active-color);
  /* background-color: rgba(0, 0, 0, 0.1); */
}

a {
  color: black !important;
}

.active-link {
  color: black;
  text-decoration: none;
}

.active-link i {
  color: var(--active-side-color-3);
}

.active-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  width: 6px;
  background-color: var(--active-side-color);
}

.link {
  color: var(--non-active-color) !important;
  /* transition: color 1s; */
}

/* .nav-link-name {
  transition: 1s all ease;
} */

.nav-link:hover {
  color: rgba(17, 70, 230, 0.425) !important;
}

.nav-link .nav-link-name:hover {
  color: rgb(158, 158, 158) !important;
}

.nav-link i {
  width: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-link-logout {
  position: sticky;
  top: 100%;
}

/* .active {
  color: var(--on-active-color);
  background-color: rgba(0, 0, 0, 0.1);
} */

/* .active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  width: 6px;
  background-color: var(--active-side-color);
  transition: 0.5s;
} */

/* .nav-link i {
  color: var(--active-side-color-3);
} */

.show {
  left: 0;
}

.space-toggle {
  padding-left: calc(var(--nav-width) + 1rem);
}

@media screen and (max-width: 767px) {
  .header-toggle {
    display: block;
  }

  .profile-img {
    width: 50px;
    border-radius: 50%;
    padding: .4rem;
    margin-left: 8px !important;
  }
}

@media screen and (min-width: 768px) {
  main {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .sidebar {
    left: 0;
    padding: 1rem 0 0 0;
  }

  .show {
    width: calc(var(--header-height) + 156px);
  }

  .space-toggle {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

@media screen and (max-width: 280px) {
  :root {
    --nav-width: 220px !important;
  }

}

@media screen and (max-height: 725px) {
  .nav-last-one {
    padding-bottom: 4rem;
  }

}




.logo {
  height: 40px;
  background-color: #2070ba;
  margin-right: .9rem;
  padding: .2rem 0rem;
  border-radius: .5rem;
}

.profile-img {
  width: 50px;
  border-radius: 50%;
  padding: .4rem;
  margin-left: -20px;
}

#light .hola {
  color: #00a149;
}

#dark .hola {
  color: rgb(230, 0, 0);
}