@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

:root {
    --header-height: 40px;
    --nav-width: 256px;

    --first-color: #fff;
    --active-side-color: #1d40fb;
    --active-side-color-3: #1d3efbec;
    --first-color-alt: #0d0906;
    --white-color: #fff;
    --active-side-color-2: #003087;
    --non-active-color: #bcbbc1;
    --fade-color: #a0a0a0;
    --on-active-color: #0d0906;
    --not-black: rgb(36, 36, 36);

    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
    --manrope: 'Manrope', sans-serif;
}

.hi-dashboard {
    color: var(--fade-color);
    margin: 0;
    font-family: var(--poppins);
}

.welcome-dashboard {
    font-family: var(--roboto);
    color: var(--not-black);
    margin: 0;
}

.custom-width {
    width: calc(50vw - 200px);
}

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title-card {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
            rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
            bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}