@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

:root {
    --header-height: 40px;
    --nav-width: 256px;

    --first-color: #fff;
    --active-side-color: #1d40fb;
    --active-side-color-3: #1d3efbec;
    --first-color-alt: #0d0906;
    --white-color: #fff;
    --active-side-color-2: #003087;
    --button-color: #2070ba;
    --text-color: #006dd3;
    --non-active-color: #bcbbc1;
    --fade-color: #bcbcbc;
    --more-fade-color: #e6e6e6;
    --on-active-color: #0d0906;
    --not-black: rgb(36, 36, 36);
    --section-head-color: #5b626b;

    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
    --manrope: 'Manrope', sans-serif;
}

.dashboard {
    margin-bottom: 1rem;
}

.custom-container2 {
    justify-content: center;
    display: flex;
}


/* 1st section start  */
.study-img {
    width: 250px;
    padding: 1rem 1rem 0 1rem;
}

.dashboard-first-first-section {
    width: 955px;
    height: 250px;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    border-radius: .5rem;
    /* box-shadow: 5px 5px 85px 5px rgba(0, 0, 0, 0.171); */
    box-shadow: 5px 5px 85px 5px rgba(0, 0, 0, 0.070);
    margin-right: 1rem;
}

.dashboard-profile-detail h3 {
    color: #20444a;
    font-family: var(--poppins);
}

.dashboard-profile-detail p {
    font-family: var(--poppins);
    color: var(--fade-color);
    margin: 1rem 0rem;
}

.dashboard-profile-detail p span {
    color: #20444a;
    font-weight: 500;
}

.dashboard-profile-detail button {
    border: 2px solid var(--button-color);
    background-color: var(--first-color);
    border-radius: .7rem;
    padding: .2rem 1rem;
    color: var(--button-color);
    font-weight: 500;
    font-family: var(--manrope);
    transition: 1s all ease;
    font-size: 14px;
}

.dashboard-profile-detail button:hover {
    background-color: var(--button-color);
    color: var(--first-color);
}

.dashboard-profile-detail {
    width: 100%;
    max-width: 600px;
    padding: 1rem 1rem 1rem 2rem;
}

.dashboard-first-second-section {
    width: 100%;
    width: 469.33px;
    height: 250px;
}

.upcoming-one {
    background: rgb(17, 127, 195);
    background: linear-gradient(90deg, rgba(17, 127, 195, 1) 0%, rgba(74, 102, 227, 1) 34%, rgba(61, 190, 255, 1) 100%);
    color: white;
    padding: 1.175rem;
    border-radius: .5rem;
    box-shadow: 5px 5px 85px 5px rgba(62, 194, 255, 0.356);
}

.upcoming-one h3 {
    font-size: 25px;
    font-family: var(--poppins);
    margin-top: .7rem;
}

.upcoming-one h3 span {
    font-size: 18px;
}

.upcoming-one h3 span i {
    margin-right: .2rem;
}

.upcoming-two {
    /* background: #251749; */
    background: rgb(191, 112, 255);
    background: linear-gradient(274deg, rgba(191, 112, 255, 1) 0%, rgba(155, 102, 251, 1) 44%, rgba(166, 0, 255, 0.575) 100%);
    color: white;
    padding: 1.175rem;
    margin-top: 1rem;
    border-radius: .5rem;
    box-shadow: 5px 5px 85px 5px rgba(239, 62, 255, 0.301);
}

.upcoming-two h3 {
    font-size: 25px;
    font-family: var(--poppins);
    margin-top: .7rem;
}

.upcoming-two h3 span {
    font-size: 18px;
}

.upcoming-two h3 span i {
    margin-right: .2rem;
}

/* 1st section end  */

/* 2nd section start  */

.dashboard-second-section {
    margin-top: 1rem;
}

.dashboard-second-first-section {
    max-width: 469.33px;
    width: 100%;
    height: 470px;
    background-color: var(--first-color);
    box-shadow: 5px 10px 85px 5px rgba(0, 0, 0, 0.070);
    margin-right: 1rem;
    border-radius: .5rem;
    padding: 1rem;
    overflow: hidden;
    /* overflow-y: scroll; */
}

.dashboard-second-first-section h4 {
    margin: 0;
    color: #5b626b !important;
    font-size: 17px;
    line-height: 28px;
    padding-right: 10px;
    font-weight: 500;
    font-family: var(--poppins);
    margin-bottom: .7rem;
}

.dashboard-second-first-section table {
    color: var(--more-fade-color) !important;
    text-align: left;
}

.dashboard-second-section th {
    padding: 0 10px;
    height: 50px;
    font-size: 14px;
    vertical-align: middle;
    background-color: #f5f5f5;
    color: #666;
    font-weight: 500;
    font-family: var(--poppins);
}

.dashboard-1st-th {
    border-radius: .5rem 0 0 0;
}

.dashboard-3rd-th {
    border-radius: 0 .5rem 0 0;
}

.dashboard-second-section td {
    color: black;
    padding: 0 10px;
    height: 50px;
    font-size: 14px;
    vertical-align: middle;
    font-family: var(--poppins);
}

.progress-bar-2 {
    width: 70%;
}

.progress-bar-4 {
    width: 90%;
}

.progress-bar-5 {
    width: 66%;
}

.progress {
    background-color: var(--more-fade-color);
}

.dashboard-second-second-section {
    max-width: 469.33px;
    width: 100%;
    height: 470px;
    background-color: var(--first-color);
    box-shadow: 5px 10px 85px 5px rgba(0, 0, 0, 0.070);
    margin-right: 1rem;
    border-radius: .5rem;
    padding: 1rem;
    overflow: hidden;
    /* overflow-y: scroll; */
}

.dashboard-second-second-section h4 {
    margin: 0;
    color: #5b626b !important;
    font-size: 17px;
    line-height: 28px;
    padding-right: 10px;
    font-weight: 500;
    font-family: var(--poppins);
    margin-bottom: .7rem;
}

.assignment-name i {
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 10%;
    font-size: 23px;
    text-align: center;
    margin: 0px 15px;
    background-color: rgba(110, 129, 220, 0.1);
    color: rgb(42, 160, 239);
}

.dashboard-second-second-section h5 {
    margin-top: .2rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--manrope);
    font-size: 16px;
}

.assignments {
    margin: 1rem 0;
    max-height: 330px;
    overflow: hidden;
    overflow-y: scroll;
}

/* .assignments hr {
    margin: 15px 0px;
} */

.dashboard-second-second-section span {
    font-size: 14px;
    font-weight: normal;
}

.assignment-icon-2 {
    font-size: 14px;
    color: #555;
    margin-right: 8px;
    cursor: pointer;
}

.assignment-icon-3 {
    font-size: 14px;
    color: #555;
    margin-right: 15px;
    cursor: pointer;
}

.dashboard-second-third-section {
    max-width: 469.33px;
    width: 100%;
    height: 470px;
    background-color: var(--first-color);
    box-shadow: 5px 10px 85px 5px rgba(0, 0, 0, 0.070);
    border-radius: .5rem;
    padding: 1rem;
    overflow: hidden;
    /* overflow-y: scroll; */
}

.dashboard-second-third-section h4 {
    margin: 0;
    color: #5b626b !important;
    font-size: 17px;
    line-height: 28px;
    padding-right: 10px;
    font-weight: 500;
    font-family: var(--poppins);
    margin-bottom: .7rem;
}

.excel-icon {
    color: #198754 !important;
    background-color: #eff9f2 !important;
}

.adobe-icon {
    color: #dc3545 !important;
    background-color: #feecee !important;
}

.archive-icon {
    color: #0dcaf0 !important;
    background-color: #f1faff !important;
}

.dashboard-second-second-section button {
    background-color: white;
    border: 1.4px solid #e0e0e0;
    color: #3f51b5;
    padding: .2rem .9rem .3rem .9rem;
    border-radius: .5rem;
    font-family: var(--poppins);
    font-weight: 500;
    transition: .5s all ease;
}

.dashboard-second-second-section button:hover {
    background-color: #f7f8fc;
}

/* 2nd section end  */


@media screen and (max-width: 1691px) {
    .dashboard-first-first-section {
        width: 800px;
    }

    .dashboard-profile-detail {
        width: 500px !important;
    }
}

@media screen and (max-width: 1629px) {
    .dashboard-first-second-section {
        width: 400px !important;
    }
}

@media screen and (max-width: 1521px) {
    .dashboard-first-first-section {
        width: 700px;
    }

    .dashboard-profile-detail {
        width: 400px !important;
    }
}

@media screen and (max-width: 1403px) {
    .dashboard-first-first-section {
        width: 600px;
    }

    .dashboard-profile-detail {
        width: 300px !important;
    }
}

@media screen and (max-width: 1301px) {
    .dashboard-first-first-section {
        width: 500px;
    }

    .dashboard-profile-detail {
        width: 250px !important;
    }
}

@media screen and (max-width: 1189px) {
    .dashboard-first-section {
        flex-direction: column;
    }

    .dashboard-first-first-section {
        width: 500px;
        margin-right: 0rem !important;
    }

    .dashboard-profile-detail {
        width: 250px !important;
    }

    .dashboard-first-second-section {
        margin-top: 2rem;
        margin-left: 0rem !important;
        height: 250px;
    }

    .upcoming-one {
        width: 500px;
    }

    .upcoming-two {
        width: 500px;
    }
}

@media screen and (max-width: 767px) {
    .dashboard-first-first-section {
        width: 500px;
        margin-top: 1rem;
    }
}



@media screen and (max-width: 517px) {

    .dashboard-first-first-section {
        width: 380px;
        flex-direction: column;
        height: 455px;
    }

    .dashboard-profile-detail {
        width: 380px !important;
        order: 1;
        padding: 0rem 1rem 1rem 1rem !important;
    }

    .dashboard-first-second-section {
        margin-top: 2rem;
        margin-left: 0rem !important;
        height: auto !important;
        width: 380px !important;
    }

    .study-img {
        max-width: 380px !important;
        padding: 0rem 0rem 0 0rem !important;
    }

    .dashboard-profile-detail p {
        margin: .8rem 0rem !important;
    }

    .upcoming-one {
        width: 380px;
    }

    .upcoming-one h3 {
        font-size: 19px !important;
    }

    .upcoming-one span {
        font-size: 15px !important;
    }

    .upcoming-two {
        width: 380px;
    }

    .upcoming-two h3 {
        font-size: 19px !important;
    }

    .upcoming-two span {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 389px) {

    .dashboard-first-first-section {
        width: 340px;
        flex-direction: column;
        height: 455px;
    }

    .dashboard-profile-detail {
        width: 340px !important;
        order: 1;
        padding: 0rem 1rem 1rem 1rem !important;
    }

    .dashboard-first-second-section {
        margin-top: 2rem;
        margin-left: 0rem !important;
        height: auto !important;
        width: 340px !important;
    }

    .study-img {
        max-width: 340px !important;
        padding: 0rem 0rem 0 0rem !important;
    }

    .dashboard-profile-detail p {
        margin: .8rem 0rem !important;
    }

    .upcoming-one {
        width: 340px;
    }

    .upcoming-one h3 {
        font-size: 19px !important;
    }

    .upcoming-one span {
        font-size: 15px !important;
    }

    .upcoming-two {
        width: 340px;
    }

    .upcoming-two h3 {
        font-size: 19px !important;
    }

    .upcoming-two span {
        font-size: 15px !important;
    }
}



@media screen and (max-width: 281px) {

    .dashboard-first-first-section {
        width: 260px;
        flex-direction: column;
        height: 455px;
    }

    .dashboard-profile-detail {
        width: 260px !important;
        order: 1;
        padding: 0rem 1rem 1rem 1rem !important;
    }

    .dashboard-first-second-section {
        margin-top: 2rem;
        margin-left: 0rem !important;
        height: auto !important;
        width: 260px !important;
    }

    .study-img {
        width: 240px;
        padding: 0rem 0rem 0 0rem !important;
    }

    .dashboard-profile-detail p {
        margin: .8rem 0rem !important;
    }

    .upcoming-one {
        width: 260px;
    }

    .upcoming-one h3 {
        font-size: 19px !important;
    }

    .upcoming-one span {
        font-size: 15px !important;
    }

    .upcoming-two {
        width: 260px;
    }

    .upcoming-two h3 {
        font-size: 19px !important;
    }

    .upcoming-two span {
        font-size: 15px !important;
    }
}

/* @media screen and (max-width: 1399px) {
    .dashboard-first-first-section {
        width: 600px;
        flex-direction: column;
        height: auto;
    }

    .dashboard-profile-detail {
        width: 400px !important;
    }
} */

















.line-chart {
    width: 1408px !important;
    height: 400px !important;
    margin-top: 2rem;
}

.line-chart-2 {
    display: none;
}

.hi-dashboard {
    color: var(--fade-color);
    margin: 0;
    font-family: var(--poppins);
}

.welcome-dashboard {
    font-family: var(--roboto);
    color: var(--not-black);
    margin: 0;
}

.custom-width {
    width: 100%;
    max-width: 1408px;
}

.active-dashboard {
    font-family: var(--roboto);
    color: #a2a7c5;
    margin: 0;
}

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title-card {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
            rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
            bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}

@media screen and (max-width: 767px) {
    .custom-padding-2 {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 1680px) {
    .line-chart {
        width: 1308px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 1580px) {
    .line-chart {
        width: 1208px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 1480px) {
    .line-chart {
        width: 1108px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 1380px) {
    .line-chart {
        width: 1008px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 1280px) {
    .line-chart {
        width: 908px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 1180px) {
    .line-chart {
        width: 808px !important;
        height: 400px !important;
    }

    .line-chart-1 {
        display: none;
    }

    .line-chart-2 {
        display: block;
    }
}

@media screen and (max-width: 1080px) {
    .line-chart {
        width: 708px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 980px) {
    .line-chart {
        width: 608px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 880px) {
    .line-chart {
        width: 508px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 780px) {
    .line-chart {
        width: 450px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 680px) {
    .line-chart {
        width: 450px !important;
        height: 350px !important;
    }
}

@media screen and (max-width: 580px) {
    .line-chart {
        width: 400px !important;
        height: 200px !important;
        font-size: 10px;
    }

    .fig-cgpa-2 {
        margin-top: -50px !important;
    }
}

@media screen and (max-width: 480px) {
    .line-chart {
        width: 370px !important;
        height: 200px !important;
        font-size: 10px;
    }
}

@media screen and (max-width: 374px) {
    .line-chart {
        width: 340px !important;
        height: 200px !important;
        font-size: 10px;
    }
}

@media screen and (max-width: 348px) {
    .line-chart {
        width: 260px !important;
        height: 200px !important;
        font-size: 10px;
    }
}

li .recharts-surface {
    display: none !important;
}

.recharts-legend-item-text {
    display: none;
}

.fig-cgpa {
    text-align: center;
    margin-top: -30px;
    font-family: var(--roboto);
    color: var(--active-side-color);
}

.fig-cgpa-2 {
    text-align: center;
    margin-top: -60px;
    font-family: var(--roboto);
    color: var(--active-side-color);
}