.footer {
    position: sticky;
    top: 100%;
    z-index: 0;
}

.footer-text {
    font-size: .80rem;
    line-height: 1rem;
    color: #5a5b5f !important;
}

/* 
@media screen and (max-width: 767px) {
    .footer-text {
        padding-bottom: 1rem;
    }
} */