@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

:root {
    --header-height: 40px;
    --nav-width: 256px;
    --first-color: #fff;
    --active-side-color: #1d40fb;
    --active-side-color-3: #1d3efbec;
    --first-color-alt: #0d0906;
    --white-color: #fff;
    --active-side-color-2: #003087;
    --button-color: #2070ba;
    --text-color: #006dd3;
    --icon-color: #3f5fca;
    --non-active-color: #bcbbc1;
    --fade-color: #bcbcbc;
    --fade-color-2: #f4f4f4;
    --fade-color-3: #acacac;
    --more-fade-color: #e6e6e6;
    --on-active-color: #0d0906;
    --gradient-background: linear-gradient(223deg, rgba(0, 40, 179, 1) 35%, rgba(4, 22, 192, 1) 100%);
    --not-black: rgb(36, 36, 36);
    --section-head-color: #5b626b;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
    --manrope: 'Manrope', sans-serif;
}

.payment {
    margin-bottom: 2.2rem;
    /* min-height: calc(100vh - 56px - 18px - 16px - 16px - 16px); */
    align-items: center;
    justify-content: center;
    display: flex;
}

/* .payment-details {
    background-color: cadetblue;
    padding-top: 1rem;
} */

.payment-details h2 {
    font-weight: 700;
    font-family: var(--manrope);
    color: #282828e8;
}

.payment-first-section {
    width: 315px;
    height: 231.8px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-family: var(--poppins);
    transition: 1s all ease;
    /* cursor: pointer; */
}

.payment-first-section i,
.payment-first-section-different i {
    color: var(--icon-color);
    background-color: var(--fade-color-2);
    padding: 1.2rem;
    font-size: 27px;
    margin-top: .3rem;
    border-radius: 50%;
    transition: .5s all ease;
}

.payment-first-section h5,
.payment-first-section-different h5 {
    margin-top: 1.1rem;
    color: var(--fade-color-3);
    font-weight: 600;
    transition: 1s all ease;
}

.payment-first-section h3,
.payment-first-section-different h3 {
    margin-top: .9rem;
    font-weight: 700;
    color: var(--not-black);
    transition: 1s all ease;
}

.payment-first-first-section {
    margin-right: 1rem;
    background: rgb(65, 106, 254);
    box-shadow: rgba(29, 29, 152, 0.3) 0px 0px 16px;
}

/* .payment-first-first-section:hover {
    margin-top: -.01rem;
} */

/* .payment-first-first-section:hover {
    background: rgb(0, 44, 204);
    box-shadow: rgba(29, 29, 152, 0.3) 0px 0px 16px;
} */

.payment-first-first-section i {
    background-color: rgba(245, 245, 245, 0.197);
    color: var(--white-color);
}

/* .payment-first-first-section:hover i {
    background-color: rgba(245, 245, 245, 0.197);
    color: var(--white-color);
} */

.payment-first-first-section h5 {
    color: rgba(245, 245, 245, 0.815);
}

/* .payment-first-first-section:hover h5 {
    color: rgba(245, 245, 245, 0.815);
} */

.payment-first-first-section h3 {
    color: white;
}

/* .payment-first-first-section:hover h3 {
    color: white;
} */

.payment-first-second-section {
    margin-right: 1rem;
}

.payment-first-third-section {
    margin-right: 1rem;
    /* margin-top: 4.2rem; */
}

.payment-first-fourth-section {
    margin-top: 1.55rem;
    text-align: center;
    cursor: pointer;
}

.payment-first-fourth-section:hover .upcoming-payment {
    visibility: hidden;
    opacity: 0;
}

.payment-first-fourth-section .upcoming-payment-last-date {
    margin-top: -2.3rem;
    visibility: hidden;
    opacity: 0;
}

.payment-first-fourth-section:hover .upcoming-payment-last-date {
    visibility: visible;
    opacity: 1;
}

.upcoming-payment-text {
    /* visibility: hidden;
    opacity: 0; */
}

.payment-first-section-different {
    width: 415px;
    height: 231.8px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    font-family: var(--poppins);
    transition: 1s all ease;
}